h1{color:yellow;text-align: center;}
div {background-color:teal;width:200px;hight:400px
;margin:30px;padding:20px}
div{font-family:Arial,sans-serif;font-size:28px:font-width:bold}
div{border:3px dotted blue}
table{border:2px  solid black; border-collapse: collapse; width:50%}
th,td{border: 1px solid black; padding: 5px}
th{background-color: lightgray;}
